#SAMPLE VALUES

#Django secret key
SECRET_KEY = 'pf^j$#@6*h0z)a-=sx8=%%pqnsf*7c$!_dh9c*_wdmz@#mvhem'


#Don't include the .apps.googleusercontent.com part
OAUTH2_SOCIAL_KEY = """1234567890-435hjjkghf234jk5gj
                    klh56nlckjfgjkhl"""

OAUTH2_CLIENT_SECRET = 'kafjsld_ASDKLJF234231'
