{% extends "group_manager/base.html" %}

{% block title %}Home{% endblock title %}

{% block header %}
    {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">Admin site</a><br />
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'groups:index' %}">Main page</a>
    {% endif %}
{% endblock header %}

{% block content %}
    {% if object_list %}
        <p>Debate schedule:</p>
        <ul>
            {% for schedule in object_list %}
                <li><a href="{% url 'groups:schedule_detail' schedule.pk %}">
                    {{ schedule }}
                </a></li>
            {% endfor %}
        </ul>
    {% endif %}
        <br /><a href="{% url 'groups:azlist' %}">AZList by date</a><br />

        {% for dat in dates %}
        <br /><a href="{% url 'groups:azlist_group' dat|date:'Y-m-d' %}">
            AZList by group for {{ dat|date:"m-d-y" }}
        </a>
    {% endfor %}
{% endblock content %}

{% block footer %}
    {% if user.is_superuser %}
        <a href="{% url 'admin:group_manager_debate_add' %}">
            Create new debate
        </a><br />
        <a href="{% url 'admin:group_manager_schedule_add' %}">
            Create new schedule
        </a><br />
        <a href="{% url 'admin:group_manager_student_changelist' %}">
            Manage students
        </a><br />
        <a href="{% url 'groups:student_import' %}">
            Import students from CSV
        </a><br />
        <a href="{% url 'groups:debate_mass_create' %}">
          Mass create debates
        </a><br />
    {% endif %}
        <a href="{% url 'grading:score_table' %}">Debates scores</a>
{% endblock footer %}
