{% extends "group_manager/base.html" %}
{% load azfilter %}

{% block title %}AZList for {{ dat }}{% endblock title %}

{% block header %}
    {{ block.super }}

    {% for myDate in dates %}
        <br /><a href="{% url 'groups:azlist' myDate|date:'Y-m-d' %}">AZList for {{ myDate|date:"Y-m-d" }}</a>
    {% endfor %}
{% endblock header %}

{% block content %}
    <table border="1">
        <tr>
            <td>name</td>
            <td>team</td>
            <td>day</td>
            <td>period 1</td>
            <td>period 2</td>
            <td>period 3</td>
            <td>period 4</td>
            <td>period 5</td>
            <td>period 6</td>
            <td>period 7</td>
        </tr>
        {% for student in object_list %}
            <tr>
                <td>{{ student }}</td>
                <td>{{ student.group }}</td>
                <td>{{ dat|date:"l" }}</td>
                <td>{% azfilter student 1 dat %}</td>
                <td>{% azfilter student 2 dat %}</td>
                <td>{% azfilter student 3 dat %}</td>
                <td>{% azfilter student 4 dat %}</td>
                <td>{% azfilter student 5 dat %}</td>
                <td>{% azfilter student 6 dat %}</td>
                <td>{% azfilter student 7 dat %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}

{% comment %}
                <td>{{ student }}</td>
                <td>{{ student.group }}</td>
                <td>{{ dat|date:"l" }}</td>
                <td>{% azfilter student 1 dat %}</td>
                <td>{% azfilter student 2 dat %}</td>
                <td>{% azfilter student 3 dat %}</td>
                <td>{% azfilter student 4 dat %}</td>
                <td>{% azfilter student 5 dat %}</td>
                <td>{% azfilter student 6 dat %}</td>
                <td>{% azfilter student 7 dat %}</td>
{% endcomment %}
