<a href="{% url 'groups:student_group_period_select' user.pk %}">Create new group!</a><br />
{% if user.is_superuser %}
    <a href="{% url 'groups:debate_index' %}">View and create new debate groups!</a>
{% else %}
    <a href="{% url 'groups:debate_index' %}">View debate groups!</a>
{% endif %}
{% if object_list %}
    <p>Groups:</p>
    <ul>
        {% for group in object_list %}
            <li><a href="{% url 'groups:group_detail' group.pk %}">{{group}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No groups currently. Create one!</p>
{% endif %}
