<a href="{% url 'groups:index' %}">Main page</a>
<h1>{{ object }}</h1>
<p>Teacher: {{ object.teacher.first_name }} {{ object.teacher.last_name }}</p>
<p>Position: {{ position }}</p>

{% if schedule and matchup %}
    <p>Matchup: <a href="{% url 'groups:schedule_detail' schedule.pk %}">{{ matchup.affTeam }} Vs. {{ matchup.negTeam }}</a></p>
    <p>Topic: {{ matchup.title }}</p>
{% else %}
    <p>No matchup</p>
{% endif %}

{% if schedule %}
    <p>Day: {{schedule.date|date:"l" }}</p>
    <p>Period: {{ schedule.period }}</p>
    <p>Debate Location: {{ schedule.location }}</p>
{% endif %}

<p>Students:</p>
{% for student in object.student_set.all %}
    <li><a href="{% url 'groups:student_detail' student.pk %}">{{ student }}</a></li>
{% endfor %}

<br /><br />
{% if not user.is_superuser %}
    <a href="{% url 'admin:group_manager_student_group_change' object.pk %}">Change</a><br />
{% endif %}
<a href="{% url 'admin:group_manager_student_group_delete' object.pk %}">Delete</a>






